<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Airline Tickets</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>

            @Html.ActionLink("Airline Tickets", "Index", "Home", null, new { @class = "navbar-brand" })

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Početna", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Postavke", "Options", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                <ul></ul>
            </div>
        </div>
    </nav>
    <main role="main">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - Airline Tickets</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @RenderSection("scripts", required: false)
</body>
</html>
